<% // create a list of javascript files to have the header load %>
<% var js_include = ['create_customer.js']; %>
<% include header %>

<!-- Note that this is a post -->
<form id="create_customer_form" action="<%= action %>">
    <table id="login">
        <tr><td>First Name:</td>
            <td><input type="text" id="FirstName" name="FirstName" /></td>
        </tr>
        <tr><td>Last Name:</td>
            <td><input type="text" id="LastName" name="LastName" /></td>
        </tr>
    </table>
    <!-- not that we use a button here and not submit -->
    <input type="button" id="createCustomerBtn" value="Create" />
</form>

<div id="output" style="margin:10px;display:none"></div>

<% include footer %>