<% // create a list of javascript files to have the header load %>
<% var js_include = ['create_student.js']; %>
<% include header %>

<!-- Note that this is a post -->
<form id="create_user_form" action="<%= action %>">
    <table id="login">
        <tr><td>Name:</td>
            <td><input type="text" id="name" name="name" /></td>
        </tr>
        <tr><td>Major:</td>
            <td><input type="text" id="major" name="major" /></td>
        </tr>
        <tr><td>Location:</td>
            <td><textarea id="location" name="location"></textarea></td>
        </tr>
    </table>
    <!-- not that we use a button here and not submit -->
    <input type="button" id="createStudentBtn" value="Create" />
</form>

<div id="output" style="margin:10px;display:none"></div>

<% include footer %>