<% var js_include = ['select_student_ajax.js']; %>
<% include header %>


<% if(rs.length > 0) { %>
This example form request a specific student's information with AJAX.
<form id="ajax_form_example" method="get" action="/student">
    <label for="studentid">Students</label>
    <select id="studentid" name="studentid">
        <option value=""><!-- intentionally left blank --></option>
        <% for (var i=0; rs.length > i; i++) { %>
        <option value="<%= rs[i].Student_number %>">
            <%= rs[i].Name %>
        </option>
        <% } %>
    </select>
</form>
<% } else { %>
The table does not contain any records.
<% } %>
<br />
<div id="output" style="display:none;"></div>

<% include footer %>
