<% include header %>


<% if(rs.length > 0) { %>
<form method="post" action="/student/dropdown">
    <label for="student_id">Students</label>
    <select id="student_id" name="student_id">
        <% for (var i=0; rs.length > i; i++) { %>
        <option value="<%= rs[i].Student_number %>">
            <%= rs[i].Name %>
        </option>
        <% } %>
    </select>
    <input type="submit">
</form>
<% } else { %>
The table does not contain any records.
<% } %>

<% include footer %>