<h2>Student Inserted</h2>
<% if(rs.length > 0) { %>
    Name: <%= rs[0].Name %> <br />
    Major: <%= rs[0].Major %> <br />
    Location: <%= rs[0].Location %> <br />
<% } else { %>
    No student matched this student id <%= studentid %>.
<% } %>