<!DOCTYPE html>
<html>
<head>
    <style>
        footer {
            background-color: white;
            color: white;
            clear: both;
            text-align: left;
            padding: 10px;
        }
        </style>
    </head>
<body>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>


<footer>
    <a href="/">Go Home</a>
</footer>

</body>
</html>