<!DOCTYPE HTML>
<html>
<head>
    <style>
        #header {
            background-color:darkslategray;
            color:white;
            text-align:center;
            padding:5px;
        }
        #nav {
            line-height:30px;
            background-color:#eeeeee;
            height:400px;
            width:170px;
            float:left;
            padding:5px;
        }
        #section {
            width:350px;
            float:left;
            padding:10px;
        }
        </style>
    <title>Car Dealer DataBase</title>
    <script type="text/javascript" src="/jquery-1.11.2.min.js"></script>
    <% if(typeof js_include !== 'undefined') {
        for(var i = 0; i < js_include.length; i++) { %>
            <script type="text/javascript" src="/<%= js_include[i] %>"></script>
    <%  }
       }
    %>
</head>

    <body>
        <% // single lin comment */ %>
        <% /* block
              comments
            */ %>
        <div id="header">
            <h1>Car Dealership DataBase</h1>
        </div>
        <div id="nav">
            <a href="/about">About</a> </br>
            <a href="/dealer/all">Dealers Table</a> </br>
            <a href="/dealeraddress/all">Dealers Address Table</a> </br>
            <a href="/vehicle/all">Vehicle Table</a> </br>
            <a href="/customer/all">Customers Table</a> </br>
            <a href="/transaction/all">Transaction Table</a> </br>
        </div>