<!DOCTYPE HTML>
<html>
<head>
    <title>Simple NodeJS MVC App</title>
    <script type="text/javascript" src="/jquery-1.11.2.min.js"></script>

    <% if(typeof js_include !== 'undefined') {
        for(var i = 0; i < js_include.length; i++) { %>
            <script type="text/javascript" src="/<%= js_include[i] %>"></script>
    <%  }
       }
    %>
</head>
    <body>
        <% // single lin comment */ %>
        <% /* block
              comments
            */ %>
        <h1><%= locals.settings.subtitle %>:Simple NodeJS Application</h1>