<% include header %>
    <link href="style.css" rel="stylesheet" type="text/css">
<ol>
    <h1>Welcome to Mahese's Car Dealership Database</h1>
        <li>
            This Application that will allow users to look for Cars using Model, year, or feature they are looking for.
        </li><li>
            The Application will allow users to insert new Items, delete Items that are sold, and update Items price/features.
        </li><li>
            This Application will have different tables for storing Information. For Example: CarTable will store Cars
        </li><li>
            nformation (Make, model, year, etc), DealerTable will store information about the dealer.
        </li>
        </p>
        <p>
        <li>
            This Application that will allow users to look for Dealers using City, State, Zip  they are looking for.
        </li><li>
            The Application will allow users to insert new Items, delete Items that are sold, and update Items price/features.
        </li><li>
            This Application will have different tables for storing Information. For Example: CarTable will store Cars
        </li><li>
            nformation (Make, model, year, etc), DealerTable will store information about the dealer.
        </li>
        </p>
   <li></li>
</ol>
</body>

<% include footer %>